
<div class="container-fluid">
  <h1>Add a restaurant</h1>

</div>

<div class="container-fluid">
  <%= render 'form', restaurant: @restaurant %>
</div>

<div >
  <button type="button" class="btn btn-dark"><%= link_to "Index",restaurants_path  %></button>
</div>
